<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Servicios</h1>
</div>



<form [formGroup]="form">

    <div class="mb-3">
        <label for="nombre">Nombre: </label>
        <input id="nombre" type="text" formControlName="nombre" class="form-control" required="required">
        <div *ngIf="form.get('nombre')?.invalid && (form.get('nombre')?.dirty || form.get('nombre')?.touched)"
            class="alert alert-danger">
            <div *ngIf="form.get('nombre')?.errors?.['required']">Nombre es requerido.</div>
        </div>
    </div>
    <div class="mb-3">
        <label for="descripcion">Descripcion: </label>
        <textarea formControlName="descripcion" class="form-control">
    </textarea>
    </div>
    <div class="mb-3 ">
        <label for="precio">Precio: </label>
        <input id="precio" type="number" formControlName="precio" class="form-control" required="required">
        <div *ngIf="form.get('precio')?.invalid && (form.get('precio')?.dirty || form.get('precio')?.touched)"
            class="alert alert-danger">
            <div *ngIf="form.get('precio')?.errors?.['required']">Precio es requerido.</div>
        </div>

    </div>
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!form.valid">
        {{ id ? 'Actualizar' : 'Guardar'}}
    </button>
</form>